<!DOCTYPE html>
<html lang="fa">

<head>
<meta charset="UTF-8">
<title>FACEMASH ADMIN</title>

<style>

body{
    background:#000;
    color:#00ff66;
    font-family:Consolas,monospace;
    font-size:18px;
    padding:30px;
}

h1{
    color:#00ff66;
    margin-bottom:30px;
}

.header{
    display:grid;
    grid-template-columns:220px 320px 220px;
    font-weight:bold;
    margin-bottom:20px;
}

.row{
    display:grid;
    grid-template-columns:220px 320px 220px;
    margin-bottom:10px;
}

</style>

</head>

<body>

<h1>FACEMASH LIVE</h1>

<div class="header">
    <div>NAME</div>
    <div>IP ADDRESS</div>
    <div>COUNTRY</div>
</div>

{% for user in visitors %}

<div class="row">
    <div>{{ user[1] }}</div>
    <div>{{ user[0] }}</div>
    <div>{{ user[2] }}</div>
</div>

{% endfor %}

</body>

</html>
